* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.container {
    background-color: skyblue;
    padding: 1rem;
    margin: 0 auto;
    min-width: 576px;
    width: 70vw;
    max-width: 992px;
 }

header, main, footer {
    background: yellow; 
    padding: 1rem;
    border: 1px dashed red;
}

