* {
    box-sizing: border-box;
    overflow: auto;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: clamp(576px, 70vw, 992px);
    margin: 0 auto;
    background: cadetblue;
 }

header, main, footer {
    background: yellow; 
    padding: 1rem;
    margin: 1rem;
}

